*{
    --border-color: #DEDEDE;
}
@media screen and (min-width: 768px) {
    .user-interface .search-form{
        display: none;
    }
    .info-768{
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .header, .user-interface, .main-menu, .info-768{
        padding: 10px 25px;
    }
    .header{
        justify-content: center;
    }
    .header-links li > a{
        margin-right: 0;
    }
    .header-links{
        width: 100%;
        justify-content: space-between;
    }
    .header .search-form{
        display: none;
    }
    .user-interface .search-form{
        display: block;
        position: relative;
    }
    .company-info, .company-phone{
        display: none;
    }
    .functional span{
        display: none;

    }
    #search-submit{
        position: absolute;
        right: 3px;
        top: calc(50% - 26px/2);
        height: 26px;
        width: 26px;
        border: none;
        border-radius: 45px;
        background: none;  
    }
    .nav-menu a{
        font-size: 20px;
    }
    .search-form input {
        width: 100%;
    }
    .info-768{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .info-768 img{
        margin-right: 5px;
    }
    .info-768 .working-hours, .info-768 .location{
        display: flex;
        align-items: center;
    }
    .phone-data-768{
        display: flex;
    }
    .phone-data-768 img{
        margin-right: 5px;
    } 

}

@media screen and (min-width: 480px) {
    .container-mobile{
        display: none;
    }
}
@media screen and (max-width: 480px) {
    .container-desktop,.inform{
        display: none;
    }
    .container-mobile{
        display: block;
        font-size: 14px;
        font-weight: 500;
    }
    .mobile-menu{
        display: none;
    }
    .mobile-header{
        display: flex; 
        align-items: center;
        justify-content: space-around;
        box-shadow: 0 2px 3px 1px rgba(43, 43, 43, 0.4);
        padding: 0 10px;
    }
    .mobile-header .icon img{
        width: 24px;
        height: 20px;
    }
    .mobile-navbar{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .mobile-navbar ul{
        width: 100%;
        text-decoration: none;
        list-style-type: none;
    }
    .navbar-menu > li{
        padding-top: 10px;
    }
    .navbar-menu{
        border-top: 1px solid var(--border-color);
    }
    .category-fold{
        transform: rotate(90deg);
    }
    .rotated{
        transform: rotate(0);
    }
    .mobile-navbar ul li a{
        padding: 0px 22px;
        padding-bottom: 10px;

    }
    .mobile-navbar ul li a > img{
        margin-right: 10px;
    }
    .mobile-navbar > a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #272C26;
        padding: 10px 22px;
    }
    .mobile-navbar > a > span{
        display: block;
        width: 100%;
        padding: 10px 0;
        border-bottom: 1px solid var(--border-color);
    }
    .link-favorites > span{
        border-bottom: none !important;
    }
    .mobile-navbar > a img{
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    .close-menu-button{
        display: flex;
        justify-content: flex-end;
        padding: 18px 22px;
        border-bottom: 1px solid var(--border-color);
    }
    .close-menu-button > button{
        background: none;
        border: none;
    }
    .ul_submenu{
        display: none;
        background-color: #ececec;
        border-top: 1px solid var(--border-color);
        padding-bottom: 0;
    }
    .navbar-menu > li a{
        display: block;
        /* width: 320px; */
        text-decoration: none;
        color: #272C26;
    }
    .ul_submenu li{
        padding: 10px 0;
        border-bottom: 1px solid #FFFFFF;
        background: url(../icons/sub-category-go.svg) no-repeat scroll 0 14px;
        background-position: 95%;
    }
    .ul_submenu li a{
        padding: 0 70px !important;
    }
    .phone-data-mobile{
        padding: 5px 22px;
        display: flex;
    }
    .phone-data-mobile img{
        margin-right: 10px;
    }
    .phone-data-mobile > .phone-info{
        padding: 5px 22px;
        
    }
    .phone-data-mobile > .phone-info > p{
        /* padding-bottom: 10px; */
    }
}

@media screen and (max-width: 320px) {
    
}
